body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  /* background: url(../images/RapidReactField_sm.png) no-repeat center center fixed;  */
  /* background-size: 100vw 100vh; */
  background-color: black;
}

@media only screen and (orientation:portrait) {
  .bg {
    height: 100vw !important;
    width: 100vh !important;
    transform: rotate(90deg);
    margin-left: -95px;
    margin-top: 95px;
  }
}

.bg {
  width: 100vw;
  height: 100vh;
  /* max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  -o-object-fit: contain;
  object-fit: contain; */
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  padding:3px;
}

label {
  margin:10px 10px 10px 10px;
  font-weight: bold;
  font-size:larger;
}

.checkbox {
  height:20px;
  width:20px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 60%; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin:0px 0px 0px 0px;

}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #f73808;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #f73808; /* Green background */
  cursor: pointer; /* Cursor on hover */
}